- flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}"}= message

- provide(:title, 'Sign up')
%h1 Sign up
%div.register
  = form_for  :user, url: users_path do |f|
    %p
    = f.label :name
    = f.text_field :name
    %p
    = f.label :email
    = f.email_field :email
    %p
    = f.label :username
    = f.email_field :username
    %p
    = f.label :password
    = f.password_field :password
    %p
    = f.submit "Create my account", class: "btn btn-primary"
