%div.page.navbar.navbar-inverse

  - flash.each do |message_type, message|
    %div{:class => "alert alert-#{message_type}"}= message

  %div.words
    %h2 Enter Your New Item:
    = form_for :item, url: items_path do |f|
      %p
        = f.label :Item
        .form-text= f.text_field :title
      %p
        = f.label :Description
        .form-text= f.text_field :text
      %p
        = f.label :Quantity
        .form-text= f.text_field :quantity
      %p
        = f.label :Price
        .form-text= f.text_field :price
      %p
        = f.label :categories
        %br
        - @categories.each do |cat|
          %input{:type => "checkbox", :name => "item[categories][]", :value => "#{cat.id}"}
          = f.label cat.title, class: "check_label"

      %p
        = f.label :image
        .form-text= f.text_field :image
      %p.form-text
        = f.submit
