%h2 Enter Your New Item:
= form_for :item, url: items_path do |f|
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :text
    = f.text_field :text
  %p
    = f.label :price
    = f.text_field :price
  %p
    = f.label :image
    = f.text_field :image
  %p
    = f.submit

= link_to 'Home', root_path
