%div.page.navbar.navbar-inverse
  %h1
    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type}"}= message

  %h1.link= @item.title
  %br
  .words= "Item Details:"
  .words= @item.text
  %br
  .words= "Stock Quantity:"
  .words= @item.quantity
  %br
  .words= "Unit Price"
  .words= "$" + @item.price.to_s
  %br
  %img{:src => "#{@item.image}", :style => "width: auto; height: auto;max-width: 400px;max-height: 380px"}
  %br
  %br
  %div.navbar.navbar-inverse
    .words= link_to 'Edit', edit_item_path(@item)
    .words= link_to 'Delete', item_path(@item),
      method: :delete,
      data: { confirm: 'Are you sure?' }
    .words= link_to 'Home', root_path
