%h1
%ul
  %h1= @item.title
  %br
  %li= @item.text
  %li= @item.quantity
  %li= @item.price
  %img{:src => "#{@item.image}"}/
  %br
  = link_to 'Edit', edit_item_path(@item)
  = link_to 'Delete', item_path(@item),
    method: :delete,
    data: { confirm: 'Are you sure?' }

= link_to 'Home', root_path
